<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <h1>Contacts</h1>
        <h2>Are you sure you want to delete <span th:text="*{Contact.name}"/> ?</h2>
        <form action="/confirmationDelete" method="post">
            <input type="hidden" th:value="${Contact.id}" name="id"/>
            
            <input type="submit" class="button" value="Delete"/>
            <a class="cancelButton" href="/contactList">Cancel </a>
        </form>
    </body>
</html>
